/* START -------------------------------------------------------- Global style */

@import url("https://fonts.googleapis.com/css2?family=Nixie+One&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Yellowtail", sans-serif;
  background-color: #f4f4f4;
}
/* END ---------------------------------------------------------- Global style */

/* START -------------------------------------------------------- Modal style */

.modal-header {
  border: none;
  background-color: #333;
  color: white;
}
.modal-title {
  letter-spacing: 2px;
  border-left: 2px solid #d98100;
  padding-left: 10px;
}
.close-modal {
  color: #d98100;
  text-shadow: none;
  font-size: 30px;
}
.modal-body {
  background-color: #f4f4f4;
  padding-bottom: 3px;
}
.modal-body p {
  font-family: "Nixie One", sans-serif;
  padding-left: 10px;
  margin-top: 12px;
  font-style: italic;
}
.modal hr {
  width: 95%;
}
.modal-footer {
  border: none;
  background-color: #f4f4f4;
}
form {
  font-family: "Nixie One", sans-serif;
}
input {
  background-color: whitesmoke;
  border: 1px solid #d98100;
  border-radius: 5px;
  margin-bottom: 8px;
}
input:focus {
  outline: none;
}

input {
  width: inherit;
}
.btn {
  background-color: #d98100;
  color: white;
  float: right;
}

/* END ---------------------------------------------------------- Modal style */

/* START -------------------------------------------------------- Navbar style */

.transparent {
  background-color: transparent;
}
.second-bg {
  background-color: #333;
}
.active {
  text-decoration: underline;
}
.logo img {
  height: 94.125px;
  width: 168.75px;
}
ul {
  margin: 20px 0 0 auto;
}
.nav-link {
  color: white !important;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 3px;
}
.orange-navlink-divide {
  border-right: 2px solid #d98100;
}
.nav-bg-color {
  background-color: #333;
  position: fixed;
  height: 120.13px;
  width: 100%;
  z-index: 1;
}
.navbar-collapse {
  text-align: center;
}

/* END ---------------------------------------------------------- Navbar style */

/* START -------------------------------------------------------- Video style */

.training-video {
  height: auto;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 2;
}
.training-video video {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* video overlay */

.video-overlay {
  position: absolute;
  top: 33%;
  left: 18%;
  width: 64%;
  color: white;
  background-color: rgba(51, 51, 51, 0.6);
  text-align: center;
}
.video-overlay h1 {
  font-family: "Nixie One", sans-serif;
  font-size: 5vw;
  padding: 0 40px;
}
.tagline {
  font-size: 2.5vw;
  letter-spacing: 2px;
  font-weight: 100;
  display: inline-block;
  padding: 0 6px;
}
.line1,
.line2 {
  margin-bottom: 4px;
  width: 6%;
  display: inline-block;
  height: 1.5px;
  background-color: white;
  border-radius: 30px;
}

.training-button {
  color: white;
  font-family: "Nixie One", sans-serif;
  text-transform: uppercase;
  background-color: #d98100;
  font-size: 1.7vw;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 2px 15px;
  transition: all 0.3s ease-in-out;
}
.training-button:hover {
  transform: scale(1.1);
  background-color: transparent;
  border: 1.5px solid #d98100;
}
.training-button:focus {
  outline: none;
}

/* END ---------------------------------------------------------- Video style */

/* START -------------------------------------------------------- About style */

/* headline */
.about-headline {
  width: 3.05em;
}
.about-tricolor {
  width: 2.3em;
  bottom: 6px;
}

/* about us container */
.about-container {
  font-family: "Nixie One", sans-serif;
  width: 90%;
}
.about-container p {
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-style: italic;
  text-align: justify;
  font-family: "Montserrat";
  font-weight: 300;
}
.icon-column {
  text-align: center;
}
.icon {
  width: 80px;
}
.about-container figcaption {
  font-weight: 600;
  margin-bottom: 15px;
}

/* END ---------------------------------------------------------- About style */

/* START -------------------------------------------------------- Locations style */

/* location headline */

.locations-headline {
  width: 3.6em;
}
.headline-scale h1 {
  margin: 35px auto;
  color: #5b5959;
}
h1 span {
  font-size: 1.2em;
  float: left;
  line-height: 1.2em;
}
.locations-tricolor {
  left: 2px;
  width: 2.5em;
  bottom: 7px;
}
.tricolor {
  height: 3.5px;
  position: relative;
  margin: 0 auto;
  display: block;
}
/* location backgrounds */

.location1 {
  background-color: #4b85a8;
  text-align: right;
}
.location2 {
  text-align: left;
  background-color: #d98100;
}
.location3 {
  background-color: #e1b200;
  text-align: right;
}

/* location text */

.location-text-left,
.location-text-right {
  float: left;
  color: white;
  width: 42.6%;
  text-align: left;
  margin-top: 50px;
}
.location-text-right {
  float: right;
  text-align: right;
}
.location-text-left h1,
.location-text-right h1 {
  padding-left: 50px;
  font-size: 3vw;
  letter-spacing: 3px;
}

.location-text-right h1 {
  padding-right: 50px;
  padding-left: 0px;
}
.location-text-left p,
.location-text-right p {
  padding-left: 80px;
  line-height: 2.5;
  font-family: "Nixie One", sans-serif;
  font-size: 1.9vw;
}
.location-text-right p {
  padding-right: 80px;
  padding-left: 0;
}
/* location images */

.desktop-location-right,
.desktop-location-left {
  width: 57.4%;
  height: auto;
}
.mobile-location-img {
  display: none;
}

/* END ---------------------------------------------------------- Locations style */

/* START -------------------------------------------------------- Testimonials style */

.testimonials-headline {
  width: 4.4em;
}
.testimonials-tricolor {
  right: 2px;
  width: 3.7em;
  bottom: 6px;
}

.circle {
  position: relative;
  top: 59px;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
.circle img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.double-border1 {
  border: 7px double #4b85a8;
}
.double-border2 {
  border: 7px double #d98100;
}
.double-border3 {
  border: 7px double #e1b200;
}

.customer1 {
  border: 4px solid #4b85a8;
}
.customer2 {
  border: 4px solid #d98100;
}
.customer3 {
  border: 4px solid #e1b200;
}
.text {
  border-radius: 20px;
  max-width: 300px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 15px 15px 14px lightgrey;
  min-height: 324px;
}
.text h1 {
  margin-top: 43px;
  margin-bottom: 10px;
  text-align: center;
  color: #5b5959;
  padding-top: 16px;
}
.text p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 0.9em;
  padding: 15px;
}

/* END ---------------------------------------------------------- Testimonials style */

/* START -------------------------------------------------------- Gallery style */
.gallery-headline {
  width: 2.9em;
  margin-left: 30px !important;
}
.gallery-tricolor {
  right: 0.36em;
  width: 1.5em;
  bottom: 6px;
}
.gallery-container {
  width: 90%;
  margin: 0 auto;
}
.gallery-container img {
  object-fit: cover;
}

.img1:hover {
  transform: scale(1.2);
}
.img1 {
  height: 100%;
  width: 100%;
}

.img1,
.img2,
.img3,
.img4 {
  padding-right: 10px;
}
.img3,
.img6 {
  padding-top: 10px;
}
.img2,
.img3,
.img6 {
  height: 50%;
  width: 100%;
}

.img4,
.img5 {
  height: 50%;
  width: 50%;
}
.img5 {
  float: right;
}

/* END ---------------------------------------------------------- Gallery style */

/* START -------------------------------------------------------- Footer style */

.group {
  text-align: center;
}
.social-media {
  background-color: #333;
  height: auto;
  color: white;
  margin-top: 100px;
}
.social-media h1 {
  font-size: 2vw;
  display: inline-block;
}
.social-media i {
  color: white;
  font-size: 3vw;
  padding: 20px 10px;
}
.copyright {
  background-color: #d98100;
  color: white;
  text-align: right;
}
.copyright p {
  margin: 0 20px;
  font-family: "Nixie One", sans-serif;
}

/* END ---------------------------------------------------------- Footer style */

/* START -------------------------------------------------------- Media query */

/* Mobile responsiveness */

@media only screen and (max-width: 450px) {
  .video-overlay {
    top: 140px;
  }
  /* footer */
  .copyright p {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 575px) {
  /* modal form */

  #fname,
  #lname {
    width: 99%;
  }
}

@media only screen and (max-width: 767px) {
  /* navbar */

  .toggler-bg-color {
    background-color: #d98100;
    opacity: 0.7;
  }
  .navbar {
    padding: 0;
  }
  .logo {
    margin-left: 16px;
  }
  .navbar-toggler {
    margin-right: 16px;
    margin-top: 22px;
  }
  .navbar-collapse {
    background-color: #333;
    height: 100vh !important;
  }
  li a {
    border-right: none;
    border: 2px solid #d98100;
    border-radius: 20px;
  }
  li {
    margin: 40px auto 0;
    width: 200px;
  }
  li a:hover {
    background-color: #d98100;
  }

  /* video */

  .training-video {
    z-index: 0;
  }
  .training-video video {
    margin-top: 120.13px;
  }
  .video-overlay {
    width: 80%;
    left: 10%;
    top: 155px;
  }
  .video-overlay h1 {
    padding: 0 11px;
    font-size: 9vw;
  }
  .tagline {
    margin: 0;
    font-size: 4.5vw;
  }
  .training-button {
    margin-bottom: 10px;
    font-size: 2.8vw;
  }

  /* location section */

  .desktop-location-right,
  .desktop-location-left {
    display: none;
  }
  .location-text-left,
  .location-text-right {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .location-text-left h1,
  .location-text-right h1 {
    padding: 10px 0;
    font-size: 30px;
  }
  .location-text-left p,
  .location-text-right p {
    padding: 5px 0 10px;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 300;
  }
  .mobile-location-img {
    display: initial;
    width: 100%;
  }
  /* gallery */
  .img1,
  .img2,
  .img3 {
    padding-right: 0px;
  }
  .img1,
  .img3 {
    padding-bottom: 10px;
  }

  /* footer */
  .social-media h1 {
    font-size: 1.5em;
  }
  .social-media i {
    font-size: 2em;
  }
}

@media only screen and (max-width: 1199px) {
  .img2,
  .img3 {
    padding-right: 0;
  }
  .img1,
  .img3 {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  .modal {
    transform: scale(1.2);
  }

  /* about section */
  .about-container p {
    margin-right: 3em;
  }
  /* gallery */
  .gallery-container {
    width: 75%;
  }
}

/* large screen responsiveness */

@media only screen and (min-width: 1440px) {
  /* modal */
  .modal {
    transform: scale(1.5);
  }

  /* navbar  */
  .logo img {
    height: 150.6px;
    width: 270px;
  }
  .nav-link {
    font-size: 45px;
    padding-right: 18px !important;
    padding-left: 18px !important;
  }
  .nav-bg-color {
    height: 176.59px;
  }

  /* video overlay */
  .line1,
  .line2 {
    margin-bottom: 10px;
    height: 3px;
    background-color: white;
  }

  /* about */
  .about-container {
    width: 65%;
  }
  .about-container p {
    font-size: 1.2vw;
  }
  .about-container figcaption {
    font-size: 1.1vw;
  }

  /* location section */
  .headline-scale {
    width: 11em;
    height: 72px;
    transform: scale(1.5);
    margin: auto;
    margin-bottom: 65px;
  }
  .headline-scale h1 {
    margin-top: 40px;
  }

  /* gallery */

  #gallery-scale {
    margin-left: 30px;
  }

  /* footer */
  .copyright p {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1900px) {
  /* modal */
  .modal {
    transform: scale(2);
  }

  /* about */
  .about-container img {
    width: 150px;
  }

  /* location headline */
  .headline-scale {
    transform: scale(2);
  }

  /* testimonials */
  .testimonials-container {
    transform: scale(1.5);
  }
  .scale-row {
    width: 80%;
    margin: 7em auto;
  }
  .testimonials-container {
    margin-bottom: 100px;
  }

  /* gallery */
  #gallery-scale {
    margin-left: 70px;
  }
}

/* END ------------------------------------------------------------ Media query */
